In [1]:
import pandas as pd

In [2]:
data_us = pd.read_csv("FRB_H15.csv")
data_us = data_us.drop(range(5))

# Pulling the 6-month sec
data_us = data_us.rename(columns = {"Market yield on U.S. Treasury securities at 6-month   constant maturity, quoted on investment basis":"US MIR % (6mo)",
                                 "Series Description":"Date"})

data_us = data_us[["Date","US MIR % (6mo)"]]
data_us["Date"] = pd.to_datetime(data_us["Date"]).apply(lambda x:x.strftime('%m/%d/%Y'))
print(data_us.describe())
data_us.head(10)

              Date US MIR % (6mo)
count          486            486
unique         486             92
top     02/19/2019           2.46
freq             1             22

          Date US MIR % (6mo)
5   01/01/2018             ND
6   01/02/2018           1.61
7   01/03/2018           1.59
8   01/04/2018           1.60
9   01/05/2018           1.58
10  01/08/2018           1.60
11  01/09/2018           1.60
12  01/10/2018           1.59
13  01/11/2018           1.58
14  01/12/2018           1.59

In [3]:
data_eu = pd.read_csv("data.csv")
data_eu["Date"] = pd.to_datetime(data_eu["Date"]).apply(lambda x:x.strftime('%m/%d/%Y'))
data_eu = data_eu.rename(columns = {"MIR%":"EU MIR %"})

print(data_eu.describe())
data_eu.head(10)

       EU MIR %
count     680.0
mean        0.0
std         0.0
min         0.0
25%         0.0
50%         0.0
75%         0.0
max         0.0

         Date  EU MIR %
0  11/11/2019         0
1  11/10/2019         0
2  11/09/2019         0
3  11/08/2019         0
4  11/07/2019         0
5  11/06/2019         0
6  11/05/2019         0
7  11/04/2019         0
8  11/03/2019         0
9  11/02/2019         0

In [4]:
df = pd.merge(data_us, data_eu, on = "Date", how = "left")
print(df.describe())
df.tail()

       EU MIR %
count     486.0
mean        0.0
std         0.0
min         0.0
25%         0.0
50%         0.0
75%         0.0
max         0.0

           Date US MIR % (6mo)  EU MIR %
481  11/05/2019           1.58         0
482  11/06/2019           1.57         0
483  11/07/2019           1.58         0
484  11/08/2019           1.58         0
485  11/11/2019             ND         0

In [5]:
df.to_csv("monthly_interest.csv",index = False)